[submodule "kernel"]
	path = kernel
	url = https://github.com/fel4/kernel.git
[submodule "jam"]
	path = tools/jam
	url = https://github.com/fel4/jam.git
[submodule "libuv"]
	path = external/libuv
	url = https://github.com/libuv/libuv.git
[submodule "binutils"]
	path = tools/binutils
	url = https://github.com/fel4/binutils.git
[submodule "gcom"]
	path = libs/gcom
	url = https://github.com/caryhaynie/gcom.git
[submodule "build_tools"]
	path = tools/build_tools
	url = https://github.com/fel4/build_tools.git
